RESEND_API_KEY=
CONTACT_FROM_EMAIL=WHSF Website <noreply@worldhsfoundation.org>
CONTACT_TO_EMAIL=info@worldhsfoundation.org
PARTNERSHIPS_EMAIL=info@worldhsfoundation.org
LEARNING_EMAIL=info@worldhsfoundation.org
SAFEGUARDING_EMAIL=info@worldhsfoundation.org
DONATIONS_EMAIL=info@worldhsfoundation.org
